
body{
    
}

/*
.container1:{
    padding-left: 10%;
    padding-right: 10%;
}

.top-logo{
    padding-left: 5rem;
}

.dettol{
   margin-left: 6rem;
}

.right-nav{
    margin-right: 10rem;
}
input{
    height: 3rem;
}*/

.offer-section{
    padding-left: 10%;
    padding-right: 10%;
}

.wrapper{
    background-color: #E1E1E1;
}
.category{
 overflow-x: auto;
 white-space: nowrap;
}


section a{
    text-decoration: none;
    
}


.bg-image{
    background-position: 50% 75%;
}

.section1 a{
    text-decoration: none;
    color: darkgray;
}

.footer{
    background-color:#4A4A4A;
}

footer ul li a{
   padding-top: 2rem;
}

.footer-bottom{
    line-height: 1.2rem;
}

.last-footer p{
    font-size:x-small
}

